.activePlayerContainer {
    @apply absolute w-[200px] h-auto aspect-video right-0 ml-auto mr-5;
    top: 20px;
    z-index: 10000;
    /* bottom: 50px; */
    /* height: calc(100vh - 20px - 100px); */
  }
  
  .inActivePlayerContainer {
    @apply absolute flex flex-col overflow-y-auto w-[90%] flex-wrap items-center justify-center;
    height: calc(100vh - 20px);
    left: 20px;
    top: 20px;
    /* z-index: 10; */
  }